In [1]:
print('75%')

75%

In [ ]:
print('Hello world')

In [2]:
print('Hello world')

Hello world

In [5]:
x=10
y='Hello'

In [6]:
print(x)
print(y)

10
Hello

In [7]:
print(x,y)

10 Hello

In [8]:
#the value of x is =10
print('the value of x is = ' , x)

the value of x is =  10

In [7]:
print type(x)
print(type(x))

SyntaxError: invalid syntax (248872232.py, line 1)

In [3]:
z=10.5
print(type(z))

<class 'float'>

In [10]:
b = True
print(type(b))

<class 'bool'>

In [1]:
True and False

False

In [2]:
True and True

True

In [3]:
True or False

True

In [4]:
not True

False

In [5]:
not False

True

In [7]:
True is True

True

In [8]:
True is False

False

In [10]:
'a'is'a'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\SUVARCHALA\AppData\Local\Temp\ipykernel_16220\3303723902.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a'is'a'

True

In [12]:
True + True

2

In [13]:
True +False

1

In [14]:
False+False

0

In [15]:
True - False

1

In [16]:
False-False

0

In [17]:
False-True

-1

In [18]:
10==10

True

In [19]:
10<=10

True

In [20]:
False and True or False

False

In [21]:
True and False or True

True

In [1]:
# integer
x = 1
type(x)

int

In [2]:
#float
x=1.0
type(x)

float

In [3]:
#boolean
b1 = True
b2 = False
type(b1)

bool

In [4]:
#string
name1 = 'xyz'
type(name1)

str

In [5]:
tenth = 10

In [6]:
tenth

10

In [7]:
ten =10

In [13]:
ten ='ten'
ten

'ten'

In [18]:
xyz = 'xyz'
xyz

'xyz'

In [22]:
'day' + str(1)

'day1'

In [24]:
a =20
Print(a, "is a",type(a), 'type')

NameError: name 'Print' is not defined

In [2]:
import keyword

print (keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
True and False

False

In [4]:
True or false

True

In [5]:
not True

False

In [6]:
True is True

True

In [7]:
True is False

False

In [9]:
'b' is 'c'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\SUVARCHALA\AppData\Local\Temp\ipykernel_18472\3976285562.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'b' is 'c'

False

In [11]:
'10' is '11'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\SUVARCHALA\AppData\Local\Temp\ipykernel_18472\1331424972.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '10' is '11'

False

In [12]:
True + True

2

In [13]:
True + False

1

In [14]:
False + False

0

In [15]:
True - False

1

In [16]:
10 is 11

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\SUVARCHALA\AppData\Local\Temp\ipykernel_18472\100162287.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 11

False

In [17]:
10 == 11

False

In [18]:
8 == 9

False

In [19]:
8 is 9

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\SUVARCHALA\AppData\Local\Temp\ipykernel_18472\946114088.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  8 is 9

False

In [20]:
10 == 10

True

In [21]:
10 is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\SUVARCHALA\AppData\Local\Temp\ipykernel_18472\3938569512.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10

True

In [22]:
True and False or True

True

In [23]:
a = 20

In [24]:
print (a)

20

In [25]:
type (a)

int

In [26]:
b = 20.0

In [33]:
b = 20.0 
print(b)
type(b)

20.0

float

In [34]:
a = 10
b = 20

In [36]:
c = a+b
print(c)

30

In [37]:
print (c*10)

300

In [38]:
print (a+b)

30

In [39]:
c = 6+2j

In [40]:
print (c)

(6+2j)

In [41]:
type(c)

complex

In [43]:
print ("Hello world")

Hello world

In [54]:
first_string1 = 'Python'
second_string2 = ' is powerful '
third_string3 = ' language'

In [55]:
type(first_string1)

str

In [56]:
print(first_string1+second_string2+third_string3)

Python is powerful  language

In [61]:
print ('woww'  +  ' phython is' , 'easy')

woww phython is easy

In [63]:
print (' Day' * 5 )

 Day Day Day Day Day

In [64]:
print ( " 999 " *200 )

 999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999  999

In [66]:
print (" _ " * 300 )

 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _

In [69]:
print ("Day" + "2" )

Day2

In [70]:
print ("day" +str(2))

day2

In [72]:
print ('day 2')

day 2

In [73]:
l = { }
l

{}

In [74]:
l = []
l

[]

In [75]:
l = ['a' , 'b' , 'c']
l

['a', 'b', 'c']

In [77]:
l = ['a' , '6' , '9.6']
l

['a', '6', '9.6']

In [84]:
l2 = list(l)
l

['a', '6', '9.6']

In [85]:
marks = [35,55,56,76,80]
marks

[35, 55, 56, 76, 80]

In [87]:
copy_marks=marks.copy()
copy_marks

[35, 55, 56, 76, 80]

In [88]:
list('suvarchala')

['s', 'u', 'v', 'a', 'r', 'c', 'h', 'a', 'l', 'a']

In [93]:
list('xyz')

['x', 'y', 'z']

In [91]:
list(1234)

TypeError: 'int' object is not iterable

In [94]:
list('1234')

['1', '2', '3', '4']

In [98]:
!pip3 install jedi==0.17.2

Requirement already satisfied: jedi==0.17.2 in c:\anaconda\lib\site-packages (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\anaconda\lib\site-packages (from jedi==0.17.2) (0.7.1)

In [8]:
employee = []
employee.append('Rinku')
print(employee)

['Rinku']

In [30]:
employee.append('Tinku')
employee.append('Pandu')
print (employee)

['Rinku', 'D souza', 'D souza', 'Tinku', 'Dany', 'Dany', "D'any", 'Dany', 'Dany', 'Dany', 'Dany', 'DANY', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu']

In [51]:
empl_salary = [15000,16000,17000]
empl_salary

[15000, 16000, 17000]

In [56]:
empl_salary.insert(0,40000)
empl_salary

[40000, 40000, 40000, 15000, 16000, 40000, 40000, 17000]

In [57]:
employee

['Rinku',
 'D souza',
 'D souza',
 'Tinku',
 'Dany',
 'Dany',
 "D'any",
 'Dany',
 'Dany',
 'Dany',
 'Dany',
 'DANY',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu']

In [58]:
len(employee)

23

In [59]:
employee [9]

'Dany'

In [62]:
employee[22]

'Pandu'

In [64]:
employee[22] = 'Danial'
employee

['Rinku',
 'D souza',
 'D souza',
 'Tinku',
 'Dany',
 'Dany',
 "D'any",
 'Dany',
 'Dany',
 'Dany',
 'Dany',
 'DANY',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Danial']

In [65]:
empl_salary

[40000, 40000, 40000, 15000, 16000, 40000, 40000, 17000]

In [67]:
empl_salary[0] = 20000
empl_salary

[20000, 40000, 40000, 15000, 16000, 40000, 40000, 17000]

In [69]:
empl_salary[4:]

[16000, 40000, 40000, 17000]

In [71]:
empl_salary[:5]

[20000, 40000, 40000, 15000, 16000]

In [72]:
empl_salary[3:5]

[15000, 16000]

In [73]:
empl_salary + [25000]

[20000, 40000, 40000, 15000, 16000, 40000, 40000, 17000, 25000]

In [74]:
empl_salary

[20000, 40000, 40000, 15000, 16000, 40000, 40000, 17000]

In [80]:
print ('=' * 100)
print('Data science')
print ('=' * 100)

====================================================================================================
Data science
====================================================================================================

In [81]:
empl_salary

[20000, 40000, 40000, 15000, 16000, 40000, 40000, 17000]

In [82]:
marks = (100,30,40,100,65,75,85,75)

In [83]:
marks.count (75)

2

In [85]:
marks.index(75)

5

In [86]:
employee

['Rinku',
 'D souza',
 'D souza',
 'Tinku',
 'Dany',
 'Dany',
 "D'any",
 'Dany',
 'Dany',
 'Dany',
 'Dany',
 'DANY',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Pandu',
 'Tinku',
 'Danial']

In [89]:
employee.append(['x','y'])
print (employee)

['Rinku', 'D souza', 'D souza', 'Tinku', 'Dany', 'Dany', "D'any", 'Dany', 'Dany', 'Dany', 'Dany', 'DANY', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Pandu', 'Tinku', 'Danial', ['x', 'y']]

In [91]:
employee = ['a','b','c']
employee.extend(['x','y'])
print(employee)

['a', 'b', 'c', 'x', 'y']

In [92]:
students = ('ram', 'rahim','rabert')

In [93]:
students

('ram', 'rahim', 'rabert')

In [98]:
pop_last = students.pop()
pop_last

AttributeError: 'tuple' object has no attribute 'pop'

In [97]:
pop_last = students.pop()
pop_last

AttributeError: 'tuple' object has no attribute 'pop'

In [102]:
pop_last = students.pop()
pop_last

AttributeError: 'tuple' object has no attribute 'pop'

In [100]:
students

('ram', 'rahim', 'rabert')

In [103]:
students = ['raj', 'ram','rahim','robort']

In [104]:
pop_index = students.pop(2)
pop_index

'rahim'

'raj'

In [108]:
pop_last = students.pop()
pop_last

IndexError: pop from empty list

In [109]:
pop_last = students.pop()
pop_last

IndexError: pop from empty list

In [110]:
students = ['raju','ramu','rahul']

In [111]:
pop_last = students.pop()
pop_last

'rahul'

In [112]:
students = ['raju','ramu','rahul','rahim']

In [113]:
students.pop()

'rahim'

In [114]:
print (students)

['raju', 'ramu', 'rahul']

In [116]:
roll_number  = (101,102,103,103,104,105)

In [118]:
roll_number.remove(103)

AttributeError: 'tuple' object has no attribute 'remove'

In [119]:
print (roll_number)

(101, 102, 103, 103, 104, 105)

In [120]:
roll_number  = (101,102,103,103,104,105)

In [122]:
roll_number.remove(103)

AttributeError: 'tuple' object has no attribute 'remove'

In [123]:
print (roll_number)

(101, 102, 103, 103, 104, 105)

In [124]:
roll_number = [101,102,103,103,104]

In [125]:
roll_number.remove(103)

In [126]:
print (roll_number)

[101, 102, 103, 104]

In [3]:
1st = [1,2,3,4,5,6,7,8,9]

SyntaxError: invalid syntax (12965193.py, line 1)

In [6]:
lst = [1,2,3,4,5]

In [7]:
lst.reverse()

In [8]:
lst

[5, 4, 3, 2, 1]

In [9]:
marks = [25,33,30,45,65,75,99]
marks

[25, 33, 30, 45, 65, 75, 99]

In [11]:
marks.sort()
marks

[25, 30, 33, 45, 65, 75, 99]

In [13]:
marks.sort(reverse=True)
print(marks)

[99, 75, 65, 45, 33, 30, 25]

NameError: name 'reverse' is not defined

In [17]:
marks.reverse
print(marks)

[99, 75, 65, 45, 33, 30, 25]

In [2]:
work_location = ('Vizag', 'Hyd','Delhi')
work_location

('Vizag', 'Hyd', 'Delhi')

In [3]:
type(work_location)

tuple

In [5]:
emp_salary = ('15000','20000','40000')
emp_salary

('15000', '20000', '40000')

In [6]:
work_location = list (work_location)
work_location

['Vizag', 'Hyd', 'Delhi']

In [7]:
type(work_location)

list

In [9]:
work_location.append('Noida')
work_location

['Vizag', 'Hyd', 'Delhi', 'Noida', 'Noida']

In [10]:
work_location[1] = 'kolkata'
work_location

['Vizag', 'kolkata', 'Delhi', 'Noida', 'Noida']

In [11]:
work_location = tuple(work_location)

In [12]:
type(work_location)

tuple

In [13]:
work_location

('Vizag', 'kolkata', 'Delhi', 'Noida', 'Noida')

In [14]:
len(work_location)

5

In [15]:
len[work_location]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:
work_location

('Vizag', 'kolkata', 'Delhi', 'Noida', 'Noida')

In [18]:
work_location[3]

'Noida'

In [20]:
work_location[-3]

'Delhi'

In [21]:
work_location.count
work_location.index

In [22]:
numbers = (26,36,46,56,66)
numbers

(26, 36, 46, 56, 66)

In [23]:
numbers.index(56)

3

In [24]:
numbers.count(56)

1

In [26]:
numbers = (26,36,46,56,66,56)
numbers.count(56)

2

In [32]:
roll_number = set()

NameError: name 'tpye' is not defined

In [31]:
tpye(roll_number)

NameError: name 'tpye' is not defined

In [33]:
type(roll_number)

set

In [34]:
roll_number.add(1)
roll_number

{1}

In [35]:
roll_number.add(2)
roll_number

{1, 2}

In [36]:
roll_number.add(2)
roll_number

{1, 2}

In [37]:
remove_dups = [9,9,11,11,11, 12,13,14,15]
remove_dups

[9, 9, 11, 11, 11, 12, 13, 14, 15]

In [39]:
dup_removed = set(remove_dups)
dup_removed

{9, 11, 12, 13, 14, 15}

In [40]:
remove_dups = [9,9,11,11,11, 12,13,14,15,1,2,3]
remove_dups

[9, 9, 11, 11, 11, 12, 13, 14, 15, 1, 2, 3]

In [41]:
dup_removed = set(remove_dups)

In [42]:
dup_removed

{1, 2, 3, 9, 11, 12, 13, 14, 15}

In [44]:
remove_dups = list(dup_removed)
remove_dups

[1, 2, 3, 9, 11, 12, 13, 14, 15]

In [46]:
my_dict = {'key1' :'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [47]:
my_dict['key2']

'value2'

In [48]:
my_dict = {'roll_number':123,'marks':[15,16,18],'subject':['computers','maths','science']}

In [51]:
my_dict['roll_number']

123

In [52]:
my_dict['subject']

['computers', 'maths', 'science']

In [53]:
my_dict['marks']

[15, 16, 18]

In [54]:
my_dict['subject'][2]

'science'

In [55]:
my_dict['subject'][2].upper()

'SCIENCE'

In [56]:
my_dict['marks'][1] = my_dict['marks'][1]+30

In [57]:
my_dict['marks']

[15, 46, 18]

In [58]:
my_dict['marks'][2]+=20

In [59]:
my_dict['marks']

[15, 46, 38]

In [60]:
my_dict['marks'][2]-=3
my_dict['marks']

[15, 46, 35]

In [61]:
my_dict['Year'] = '4th'
my_dict

{'roll_number': 123,
 'marks': [15, 46, 35],
 'subject': ['computers', 'maths', 'science'],
 'Year': '4th'}

In [62]:
my_dict.update({'roll_number' : 99})
my_dict

{'roll_number': 99,
 'marks': [15, 46, 35],
 'subject': ['computers', 'maths', 'science'],
 'Year': '4th'}

In [64]:
my_dict.items()

dict_items([('roll_number', 99), ('marks', [15, 46, 35]), ('subject', ['computers', 'maths', 'science']), ('Year', '4th')])

In [66]:
my_dict.keys()

dict_keys(['roll_number', 'marks', 'subject', 'Year'])

In [67]:
i = 9

if i <10:
    print('it is less than 10')
else:
    print('it is somthing else')

it is less than 10

In [68]:
i = 18

if i <10:
    print('it is less than 10')
else:
    print('it is somthing else')

it is somthing else

In [69]:
print('it is less than 10')if i <10 else print('it is somthing else')

it is somthing else

In [71]:
item_1 = 200
item_2 = 200
if(item_1+item_2)>=500:
    print("you are eligible for free shipping")
else:
    extra = 500-(item_1+item_2)
    print('please add',extra,'Rs worth of an item for free shipping')

please add 100 Rs worth of an item for free shipping

In [72]:
a = 300
b = 44
c = 500
if a>b and c<a:
    print("both conditions are true")
    
else:
    print("both are not true")

both are not true

In [73]:
a = 300
b = 44
c = 500
if a>b or c<a:
    print("both conditions are true")
    
else:
    print("both are not true")

both conditions are true

In [84]:
marks = 23
if marks>=60:
    if marks>70:
        print('marks','-Distinction')
    else:
        print('marks','-First class')
elif marks>50 and marks <=60:
    print('marks','-second class')
elif marks>35:
    print( marks,'-pass')
else:
    print(marks , ' - Fail-Better luck next time')

23  - Fail-Better luck next time

In [86]:
num1 = 20
num2 = 30
if num1=='20':
    print('its not 20')
elif num2 >25:
    print('its greater than 25')

its greater than 25